.filter-buttons{
    display: flex;
    justify-content: space-evenly;
}

.filter-buttons button{
    border: 2px solid rgb(169, 169, 169);
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    padding: 3px 5px;
}

.filter-buttons button:focus{
    outline: none;
}

.filter-buttons button[aria-pressed="true"]{
    background-color: rgb(169, 169, 169);
}